@import './base.css';

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

main header {
  text-align: center;
}

.game-info {
  margin-top: 10px;
}

.game-info p {
  text-transform: uppercase;
  font-weight: bold;
}

.game-info div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-info svg {
  height: 25px;
  margin-left: 10px;
}

.game-info button {
  padding: 5px 10px;
  margin-left: 15px;

  font-size: 14px;
  font-weight: bold;
  color: var(--const-blue);

  border: 3px solid var(--const-blue);
  border-radius: 4px;
  background: transparent;

  transition: all .3s ease-out;
  cursor: pointer;
}

.game-info button:hover {
  color: var(--const-white);
  background: var(--const-blue);
}

.table {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  margin-top: 50px;
}

.table .field {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  padding: 6px;
  box-sizing: border-box;

  transition: all .3s ease-out;
}

.table .field:hover:empty {
  border-radius: 6px;
  background: var(--field-hover-color);
  cursor: pointer;
}

.table .field svg {
  height: 80%;
}

.table .line {
  position: absolute;
  z-index: 2;

  border-radius: 6px;
  background: var(--line-color);
}

.table .line:nth-child(1),
.table .line:nth-child(2) {
  width: 12px;
  height: 100%;
}

.table .line:nth-child(3),
.table .line:nth-child(4) {
  width: 100%;
  height: 12px;
}

.table .line:nth-child(1) {
  left: 94px;
}

.table .line:nth-child(2) {
  left: 194px;
}

.table .line:nth-child(3) {
  top: 94px;
}

.table .line:nth-child(4) {
  top: 194px;
}

.victory-score {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.victory-score > div {
  display: flex;
}

.victory-score,
.victory-score > div > div {
  display: flex;
  align-items: center;
}

.victory-score p {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.victory-score div svg {
  height: 25px;
  margin-right: 10px;
}

.victory-score > div > div {
  padding: 5px 10px;
  
  font-size: 16px;
  font-weight: bold !important;

  border: 3px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

.victory-score > div > div:first-of-type {
  margin-right: 10px;
  border-color: var(--const-blue);
}

.victory-score > div > div:last-of-type {
  border-color: var(--const-red);
}